@import "../../global.scss";

.form_formations_sli {
    text-align: center;
    padding: 50px 0px;

    .formations_place {
      p {
        margin: 15px;
        font-size: 1em;
      }

      a {
        text-decoration: none;
        color: $main-color;
      }
    }

    span {
      font-weight: 600;
    }

    h2 {
      padding-top: 30px;
      color: $main-color;
      text-transform: uppercase;
    }

    h3 {
      padding-top: 15px;
      color: $main-color;
      text-transform: uppercase;
    }

    h4 {
      font-size: 1.5em;
      padding-top: 30px;
      color: $main-color;
      text-transform: uppercase;
    }

    .formations_block{

    // display: inline-table;
      .test_formation{
        p{
          text-align: justify;
        }
      }


      .test_formations{
        color: $main-color;
         font-weight: 600;
      }
    }
  }

  .group_form_sli {
    display: flex;
    width: 100%;
    padding: 50px 0px;

    .form_sli {
      width: 50%;
      text-align: center;
      color: $main-color;

      h4 {
        padding-top: 15px;
        font-size: 1.5em;
      }
    }

    .formations_group {
      font-size: 4em;
    }
  }