.society_who_am {
  text-align: center;
  background: linear-gradient(90deg, #04a2df 0%, #00ceff 100%);

  h1{
      color: white;
  }
  .advice_society {
    display: flex;
    text-align: center;
    justify-content: space-evenly;

    .advice_society_card {
      margin: 50px 30px;

      .society_service_card {
        font-size: 3.5em;
        color: white;
      }
    }
  }
}
