.informatique_section_title {
  text-align: center;
  font-size: 2.2em;
  padding-top: 50px;

  & {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.card_informatique {
  width: 100%;
  display: flex;
  margin: 50px 0;
  align-items: center;
  cursor: pointer;

  .icons_informatique {
    color: #04a2df;
    font-size: 25px;
  }

  .card_informatique_left_side {
    width: 50%;

    & {
      animation-name: slideInLeft;
      animation-duration: 1s;
      animation-fill-mode: both;
    }
    @-webkit-keyframes slideInLeft {
      0% {
        transform: translateX(-100%);
        visibility: visible;
      }
      100% {
        transform: translateX(0);
      }
    }
    @keyframes slideInLeft {
      0% {
        transform: translateX(-100%);
        visibility: visible;
      }
      100% {
        transform: translateX(0);
      }
    }

    .informations_informatique {
      display: flex;
      align-items: center;
      align-content: center;

      icon {
        color: blue;
      }
    }

    img {
      width: 100%;
      border-radius: 25px;

      &:hover,
      &:focus {
        transform: scale3d(1.006, 1.006, 1);
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.15);

        &::after {
          opacity: 1;
        }
      }
    }

    h3 {
      padding-right: 50px;
      margin: 10px;
      text-align: end;
      color: #04a2df;
      font-size: 1.3em;
    }
  }
  .card_informatique_right_side {
    width: 50%;

    & {
      animation-name: slideInRight;
      animation-duration: 1s;
      animation-fill-mode: both;
    }
    @-webkit-keyframes slideInRight {
      0% {
        transform: translateX(100%);
        visibility: visible;
      }
      100% {
        transform: translateX(0);
      }
    }
    @keyframes slideInRight {
      0% {
        transform: translateX(100%);
        visibility: visible;
      }
      100% {
        transform: translateX(0);
      }
    }

    .informations_informatique {
      display: flex;
      align-items: center;
      align-content: center;
      padding-left: 50px;

      icon {
        color: blue;
      }
    }

    img {
      width: 100%;
      border-radius: 25px;

      &:hover,
      &:focus {
        transform: scale3d(1.006, 1.006, 1);
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.15);

        &::after {
          opacity: 1;
        }
      }
    }

    h3 {
      margin: 10px;
      color: #04a2df;
      font-size: 1.3em;
    }
  }
}
