@import "../../global.scss";

.card_home_page {
  a {
    text-decoration: none;
    color: $white;
  }

  .device_sli {
    max-width: 100%;
    text-align: center;

  }

  span {
    font-weight: 600;
    color: $main-color;
  }

}
    .home_container_both {
      display: flex;
      max-width: 100%;
      padding: 250px;

      @include mobile {
        flex-direction: column;
      }

      @include tablet {
        flex-direction: column;
      }


      .home_container_left_side {
        width: 50%;
        margin: 10px;
        padding-right: 50px;

        @include mobile {
          width: 90%;
          text-align: center;
        }

        @include tablet {
          width: 90%;
          text-align: center;
        }

        h1 {
          font-size: 2em;
        }

        h2 {
          font-size: 1.8em;
        }

        p {
          font-size: 1.4em;
          padding: 15px 0px;
          font-weight: 300;
        }
      }

      .home_container_right_side {
        @include mobile {
          width: 80%;
          text-align: center;
          box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, .2);

        }

        @include tablet {
          text-align: center;
        }
        background: rgb(2, 131, 192);
        background: linear-gradient(90deg, rgba(2, 131, 192, 1) 74%, rgba(39, 184, 235, 1) 100%);
        width: 50%;
        margin: 10px;
        border-radius: 50px;
        padding: 25px;
        cursor: pointer;

        &:hover,
        &:focus {
          transform: scale3d(1.006, 1.006, 1);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.15);

          &::after {
            opacity: 1;
          }
        }

        h1 {
          color: $white;

          @include mobile {
            font-size: 2em;
          }
        }

        p {
          color: black;
          font-size: 1.5em;
          text-align: left;
          padding: 15px 0px;
        }

        .img_right_side {
          padding-top: 50px;
          width: 100%;
        }
      }
    }

    .our_expertise {
      flex-direction: row;
      display: flex;
      padding-top: 15px;

      h1 {
        font-weight: 500;
      }

      h2 {
        font-weight: 400;
      }

      p {
        padding-top: 30px;
        text-align: justify;
        font-weight: 300;
      }

      @include mobile {
        justify-content: center;

        h1 {
          font-size: 1px;

        }
      }
    }

    .our_expertise-right {
      width: 50%;

      @include mobile {
        display: none;
      }
    }

    .solution_img {
      width: 80%;
      padding: 10px;
      border-radius: 50px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
      opacity: 0.83;
    }

    .our_expertise-left {
      width: 50%;


      @include mobile {
        flex-direction: column;
        max-width: fit-content;


        h1 {
          font-size: 0.1px;
        }

        h2 {
          text-align: left;
          justify-content: left;
        }

        p {
          text-align: left;
          justify-content: left;
        }
      }
    }


    .home_services {
      display: flex;

      @include mobile {
        display: flex;
        flex-direction: column;
        max-width: fit-content;
      }

      @include tablet {
        width: 80%;
        grid-template-columns: 100px 100px 100px;
        justify-content: space-between;
        margin: auto;
      }

      .home_services_icon {
        font-size: 5em;
        cursor: pointer;
        color: white;

        &:hover {
          transform: scale(1.1);
          animation-name: linkedin-icon;
          animation-duration: 500ms;
        }
      }

      .home_services_card {
        justify-content: space-evenly;
        margin: 50px 30px;
        color: white;

        @include tablet {
          padding-top: 15px;
          margin: 20px 30px;
        }

        h1 {
          font-size: 1.2em;
          padding: 15px 0px;
        }
      }
    }


  .home_conseils_sli {
    background-color: $grey;
    margin-bottom: 50px;


    p {
      font-size: 1.3em
    }

    @include mobile {
      flex-direction: column;
    }

    .home_conseils_sli_right {
      p {
        @include mobile {
          font-size: 1.2em;
        }
      }
    }
  }

  .titleExpertise {
    padding: 50px 50px;
    text-align: left;
    background-color: $grey;
    border-radius: 20px;
    text-justify: inter-word;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

    h1 {
      color: black;
      font-weight: 600;
      font-size: 3em;
      text-align: left;
    }

    h2 {
      font-weight: 500;
      font-size: 2.0em;
      margin-bottom: 20px;
    }

    p {

      font-weight: 400;
      color: black;

    }
  }



.to-top.active {

  pointer-events: none;
  opacity: 1;
}

  .wave-container {
    background-color: $main-color;
    max-width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 60px 0px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

    .center-container {
      display: flex;
      justify-content: center; /* Centre horizontalement */
      align-items: center; /* Centre verticalement */
      padding: 50px;
      flex-wrap: wrap;

      h1 {
        font-weight: 400;
        font-size: 1.8em;
        color: black;
      }

      p {
        font-size: 1.2em;
      }
    }

    .arrow {
      font-size: 1.5em;
      padding-bottom: 15px;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3 colonnes par ligne */
      grid-gap: 20px; /* Espace entre les éléments */
      align-items: center;

      @include mobile {
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
      }
    }

    .home_services_icons {
      font-size: 3em;
      cursor: pointer;
      color: white;
    }

    .grid-item {
      border: 1px solid #ccc; /* Bordure pour chaque élément */
      padding: 30px; /* Espace interne */
      text-align: center;
      justify-content: space-evenly;
      margin: 10px 10px;
      color: white;
      border-radius: 30px;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
      cursor: pointer;

      &:hover,
      &:focus {
        transform: scale3d(1.006, 1.006, 1);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;


        &::after {
          opacity: 1;
        }
      }
    }


    .home_carousel_partner {
      margin: 50px;
      cursor: pointer;
      padding: 50px;
      max-width: 100%;
      width: 80%;



      .rec.rec-arrow {
        visibility: hidden;
      }

      .sc-ftvSup {
        background-color: $white;

      }

      .krmNah {
        box-sizing: border-box;
        padding: 0;
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease;
        border: none;
        margin: 5px;
        font-size: 1.0em;
        content: "";
        height: 5px;
        width: 5px;
        box-shadow: 0 0 1px 3px $main-color;
        outline: none;
        background-color: $white;

        &:active {
          color: $main-color;
        }
      }

      .rec.rec-arrow {
        border-radius: 0;
        background-color: $main-color;
      }

      .rec.rec-arrow:hover {
        border-radius: 0%;
        background-color: $main-color
      }
    }

  }




