
.footer {
	background-color: #04a2df;
	padding: 40px 0;
	color: white;

	.footer_description{
		display: flex;
		text-align: center;
		justify-content: center;
		font-size: 1.2em;

		a{
			text-decoration: none;
			color: white;
		}

		li{
			list-style: none;
			padding: 0px 25px;
		}
	}
	.copyright_sli{
		padding-top: 15px;
		p{
			text-align: center;
		}
		.copyright_sli_bot{
			font-weight: 800;
		}
	}
}
