.footer{


    .footer_global{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        background-color: #04A2DF;
        color: white;
    
        .footer_copyright_solution_logique{
            bottom:0;
            padding: 50px 50px;
            justify-content: space-evenly;
            span{
                font-weight: 800;
            }
        }
    }
}


