.CGV{
    .CGV_container{
        padding: 25px 0px;

        h4{
            color: #04a2df;
        }
        h5 {
            color: #04a2df;
        }
    }
    span{
        font-weight: 600;
        color: #04a2df;
    }
    h3{
        text-transform: uppercase;
    }
    p{
        padding: 25px 0px;
    }
}