@import "../../global.scss";

.CGV {
  .CGV_container {
    padding: 25px 0px;

    h4 {
      color: $main-color;
    }

    h5 {
      color: $main-color;
    }
  }

  span {
    font-weight: 600;
    color: $main-color;
  }

  h3 {
    text-transform: uppercase;
  }

  p {
    padding: 25px 0px;
  }
}