h2.heading {
    padding: 50px 0;
    text-align: center;
    color: #fff;
}
.profile-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card-grid {
display: flex;
}
.card {
    width: 100%;
    height: 400px;
    display: block;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    position: relative;
    filter: blur(1px);
    transition: background 0.8s linear;
}
.card0 {
    background-size: 400px;
}
.card1 {
    background-size: 400px;
}
.card2 {
    background-size: 400px;
}
.card:hover {
  background-size: 600px;
  background-position: left center;
  filter: unset; 
}
.overlay {
    opacity: 1;
    height: 100%;
    padding: 20px;
    transition: opacity 0.8s linear;
}
h2, p {
    color: #fff;
}
.content > h2 {
    margin-bottom: 10px;
}

.content {
    height: 90%;
    position: relative;
    right: -300px;
    transition:right 0.8s linear;
}
.card:hover .content {
    right: 0;
}
.card:hover .icons {
  opacity: 1;
}
.learn-more-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    text-decoration: unset;
    padding: 5px 10px;
    border: 1px solid;

    &:hover{
        background-color: white;
        color: #04a2df;
        border: none;
    }
}