@import "../../global.scss";

.heading_logiciels {
  padding-bottom: 50px;
}

h1.heading_logiciels {

  border-radius: 10%;
  justify-content: center;
  padding-top: 50px;
  background-color: $grey;
  margin-bottom: 20px;
  margin-top: 20px;
}

.profile-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;

  .logo_qualiopi {
    display: block;
    text-align: center;
    background-color: $grey;
    border-radius: 30%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    img {
      cursor: pointer;
      width: 40%;
    }

    .logo_qualiopi_description {
      padding-bottom: 15px;
    }
  }

  @include tablet {
    display: block;
    padding: 0px;
  }


  .en_tete-form {
    padding-bottom: 40px;
  }

  h1 {
    font-weight: 500;
    font-size: 50px;
  }


  .form_formations_sli-start {
    padding: 50px;
    border-radius: 10% 10%;
    background-color: $grey;
    margin-bottom: 40px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    h1 {
      font-weight: 500;
    }

    h2 {
      font-weight: 300;
    }

    h3 {
      padding-top: 10px;
    }

  }


  .pblock {
    display: flex;
    justify-content: center;
  }

  .p1 {
    width: 33%;
    padding: 10px;
  }

  .p2 {
    width: 33%;
    padding: 10px;
  }

  .p3 {
    width: 33%;
    padding: 10px;
  }


  .formations_block {
    padding: 50px;
    border-radius: 30px;
    background-color: $grey;
    margin-bottom: 40px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


    @include mobile {
      max-width: 100%;
      justify-content: center;
      text-align: center;

    }
    h2 {
      margin-bottom: 85px;
    }
  }

  .formations_block-left {
    padding: 95px;
    text-align: left;
    text-justify: auto;
    border-radius: 10% 40%;
    background-color: $grey;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    h2 {
      font-weight: 300;
    }
    h3.opcos {
      font-weight: 300;
      display: none;
    }
  }

  .formations_block-right {
    padding: 95px;
    text-align: right;
    text-justify: newspaper;
    border-radius: 40% 10%;
    background-color: $grey;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    h2 {
      font-weight: 300;
    }
  }

  .counter_formations_SLI {
    padding-top: 50px;

    .counter_satisfaction {
      text-align: center;
      align-items: center;
      margin: auto;

      .satisfaction_heart {
        font-size: 3em;
        color: $white;
        padding-right: 15px;
      }

      p {
        font-size: 3em;
      }

      span {
        font-weight: 600;
      }
    }
  }

  .form_formations_sli {
    text-align: center;
    padding: 50px 0px;
    margin-top: 30px;
    margin-bottom: 50px;


    .formations_place {

      h1 {
        font-weight: 500;
        color: white;
      }

      p {
        margin: 15px;
        font-size: 1em;
      }

      a {
        text-decoration: none;
        color: $main-color;
      }
    }

    span {
      font-weight: 400;
    }

    h2 {
      padding-top: 30px;
      color: $main-color;
      text-transform: uppercase;
    }

    h3 {
      padding-top: 15px;
      color: $main-color;
      text-transform: uppercase;
    }

    h4 {
      font-size: 1.5em;
      padding-top: 30px;
      color: $main-color;
      text-transform: uppercase;
    }
  }

  .group_form_sli {
    display: flex;
    width: 100%;
    padding: 50px 0px;


    @include mobile {
      flex-direction: column;
      align-items: center;
    }

    .form_sli {
      width: 50%;
      text-align: center;
      color: $main-color;
      border-color: $main-color;
      padding: 20px;


      @include mobile {
        padding: 25px 0;
      }

      h4 {
        padding-top: 15px;
        font-size: 1.5em;
      }
    }

    .formations_group {
      font-size: 4em;
    }
  }
}

.card-grid {
  display: flex;
  padding: 50px;

  @include mobile {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}

.card {
  width: 100%;
  height: 400px;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: background 0.8s linear;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


  img {
    width: 100%;
  }
}

.card0 {
  background-image: cover;


}

.card1 {
  background-image: cover;
  background-position: bottom;
}

.card2 {
  background-image: cover;
  background-position: right;
}

.card:hover {
  background-image: cover;
  background-position: left center;
  filter: unset;
}

.overlay {
  opacity: 0;
  height: 100%;
  padding: 20px 10px 0px 10px;
  transition: opacity 0.8s linear;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  @include mobile {
    padding: 0px;
    border-radius: 0px;
  }

  &:hover {
    background-color: white;
    opacity: 0.9;
    transition: background 0.6s linear;
  }
}

.content > h2 {
  margin-bottom: 10px;
  color: $main-color;
}

.content {
  height: 90%;
  position: relative;
  right: -375px;
  transition: right 0.8s linear;
  text-align: center;
  padding: 15px;

  @include tablet {
    right: -600px;
  }

  @include mobile {
    padding: 0px;
    margin: 0px 20px;
  }

  p {
    color: black;
    text-align: justify;
    font-size: medium;
  }
}

.card:hover .content {
  right: 0;
}

.card:hover .icons {
  opacity: 0;
}

.learn-more-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  color: black;
  text-decoration: unset;
  padding: 5px 10px;
  border-radius: 50px;
  border: grey 1px ;

  @include mobile {
    bottom: -20px;
    margin-top: 10px;

  }

  &:hover {
    background-color: rgba(125, 122, 125, 0.42);
    color: $main-color;
    border: none;
  }
}

.cards_statistic {
  display: flex;
  width: 100%;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .card_statistic {
    width: 50%;
    margin: 15px;
    color: white;
    background-color: $main-color;
    border-radius: 15px;
    text-align: center;
    font-size: 3em;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    @include mobile {
      width: 100%;
    }

    @include tablet {
      font-size: 2em;
      align-items: center;
    }

    &:hover,
    &:focus {
      transform: scale3d(1.006, 1.006, 1);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.15);

      &::after {
        opacity: 1;
      }
    }

    .divider1 {
      position: relative;
      background: #2c3e50;
      height: 50vh;
    }

    .wave {
      position: absolute;
      height: 30px;
      width: 100%;
      background: #2c3e50;
      bottom: 0;
    }

    .wave::before, .wave::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 100% 50%;
    }

    .wave::before {
      width: 55%;
      height: 109%;
      background-color: #fff;
      right: -1.5%;
      top: 60%;
    }

    .wave::after {
      width: 55%;
      height: 100%;
      background-color: #2c3e50;
      left: -1.5%;
      top: 40%;
    }

    .satisfaction_heart {
      font-size: 1.5em;


    }
  }
}
