.services_tabs{
    padding: 100px 0;
}

.tabs {
  display: flex;
  cursor: pointer;
}
.tab {
  width: 33%;
  text-align: center;
  padding: 1em;
  margin: 0 0.2em;
}
.tab.actif {
  background: #04a2df;
  color: white;
}

.title_content {
  font-size: 2em;
  color: white;
}

.content {
  margin: 0 0.2em;
  padding: 1em;
  display: none;
}
.content.actif {
    background: #04a2df;
  display: block;
}
